@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f3e5d7;
  min-height: 100vh;
  color: #5f564d;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
***********************
  GENERAL
***********************
*/
.font--young-serif {
  font-family: "Young Serif", sans-serif;
}
.font--outfit {
  font-family: "Outfit", sans-serif;
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500;
  color: #854632;
  margin-bottom: 1.2rem;
  border-top: 1px solid #eee;
  padding-top: 1.2rem;
}

.list {
  padding-left: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

li::marker {
  color: #854632;
  font-weight: bold;
}

.list li,
.prep-list li {
  padding: 0.4rem;
}

.instruction-list li,
.ingredient-list li {
  padding-left: 1.4rem;
}

/*
***********************
  RECIPE HEADER SECTION
***********************
*/

.section-recipe {
  padding: 9.6rem;
}

.recipe-container {
  max-width: 53rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 6.4rem;
}

.recipe {
  padding: 2.6rem;
}

.image-wrapper {
  padding: 2.6rem 2.6rem 0;
}

.recipe-img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.recipe-title {
  font-size: 3rem;
  font-weight: 500;
  color: #312e2c;
  line-height: 1;
  margin-bottom: 2rem;
}

.recipe-description {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
  font-weight: 400;
}

/*
***********************
  PREP SECTION
***********************
*/

.prep {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.6rem;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: #fff7fb;
  border-radius: 9px;
  margin-bottom: 2.4rem;
}

.prep span {
  color: #7a284e;
  font-weight: 600;
  font-size: 1.4rem;
}

.prep-list {
  padding-left: 2rem;
}

/*
***********************
  INGREDIENTS SECTION
***********************
*/

.ingredients .heading-tertiary {
  border: none;
  padding-top: 0;
}

/*
***********************
  NUTRITION SECTION
***********************
*/

/* CLEAN UP THIS SECTION!! */

.nutrition-text {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.grid--2-col {
  display: grid;
  gap: 1.2rem;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #eee;
}

.grid-item:first-child {
  border: none;
}

.grid-item span {
  padding-top: 1rem;
  padding-left: 2.4rem;
  font-size: 1.2rem;
}

.nutrition-unit {
  color: #854632;
  font-weight: 600;
}

@media (max-width: 37rem) {
  .recipe-img {
    width: 100%;
    border-radius: 0%;
  }

  .image-wrapper {
    padding: 0;
  }

  .recipe-title {
    line-height: 1.1;
    font-size: 2.4rem;
  }
}
